/* .contact-title {
    color: #fff;
    margin-top: 100px;
    text-transform: uppercase;
    transition:  all 4s ease-in-out;
  }

  .contact-title h1 {
    font-size: 32px;
    line-height: 60px;
  }

  .contact-title h2 {
    font-size: 16px;
   
} */

.form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.formControl {
    width: 600px;
    background: transparent;
    border: none;
    outline:none;
    border-bottom: 1px solid gray;
   
    font-size: 18px;
    margin-bottom: 16px;
    height: 45px;
}



.messageControl{
    max-width: 600px;
    background: transparent;
    border: none;
    outline:none;
    border-bottom: 1px solid gray;
    font-size: 18px;
    margin-bottom: 16px;
    resize: vertical;
    /* resize: horizontal; */

}

 .submitButton{
    background: hsl(291, 78%, 40%);
    border-color: transparent;
    color:  #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;

    width: 600px;
   
    border: none;
    outline:none;
    
   


}

.submitButton:hover {
    background-color:hsl(291, 78%, 33%);
    cursor: pointer;
}
