.heroImage {
  width: 100%;
}
  

.buttonLink {
  background-color: white;
  border-radius:56px;
  font-size: 13px;
  font-weight: 600;
  justify-content: center;
  min-width: 290px;
  padding: 12px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .3s ease,transform .3s ease,-webkit-transform .3s ease,-o-transform .3s ease;

}

.heroText {
  position: absolute;
  top: 20% ;
  padding: 20px;
}


  @media only screen and (max-width: 768px) {
    .heroText {
      top: 10% ;
    }
    .heroStandard {
      width: 100%;
    }
  }