.heroImage {
  width: 100%;
}
  
.heroText {
  position: absolute;
  top: 40%; 

}

@media only screen and (max-width: 768px) {
    .heroText {
      top: 10% ;
    }
    .heroStandard {
      width: 100%;
    }
  }