

.hasUniqueBackground {
    fill: white;
    color: white;
    line-height: 1;
    padding: 0.8em;
    border-top: 7px dotted white;
    border-bottom: 7px dotted white;
    text-align: center;
    margin: 30px auto;
}
.buttonLink {
    background-color: white;
    border-radius:56px;
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
    max-width: 140px;
    padding: 12px 30px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .3s ease,transform .3s ease,-webkit-transform .3s ease,-o-transform .3s ease;
  
  }