.fullWidth {
    padding: 0;
    width: 100%;
  }
  
  .standard {
    max-width: 1280px;
    width: 75%;
  }
  

  @media only screen and (max-width: 600px) {
    .standard {
      width: 100%;
    }
   
    .logoText {
    
      padding-left: 0;
      padding-right: 0;
    }
  
    @media only screen and (max-width: 600px) {
      .logoText {
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
      }
    }
  }
  