.fullWidth {
  width: 100%;
  padding: 0;
}
.standard {
  width: 75%;
  max-width: 1280px;
}

.half {
  width: 50%;
  display: flex;
  line-height: 1;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
 
  
}

